doctype html
html(lang="en")
    head 
        title #{topic.get("title")}
        include includes/head
    body 
        include includes/navbar
        .container-fluid
            .row 
                .col
                    h1 #{topic.get("title")}
                    p
                        a(href=`${topic.get("context")}`) #{topic.get("context")}
                    each paragraph in topic.get("content").split("\n")
                        p= paragraph
            - var x = 0;
            while x < posts.length
                .row 
                    .col 
                        h3 #{posts[x].title}
                        each paragraph in post[x].content.split("\n")
                            p= paragraph
                - x++
