doctype html
html(lang="en")
    head 
        title #{topic.get("title")}
        include includes/head
    body 
        include includes/navbar
        .container-fluid
            .row 
                .col
                    h1 #{topic.get("title")}
                    p
                        a(href=`${topic.get("context")}`) #{topic.get("context")}
            .row
                .col
                    form(method="POST")
                        textarea#message(name="message")
                        button.btn.btn-outline-primary(type="submit") Post
            each post in posts
                .row 
                    .col 
                        h3 #{post.title}
                        each paragraph in post.get("content").split("\n")
                            p= paragraph